body {
	background-color: #0089ff;
}

body * {
	box-sizing: border-box;
}

.form-box {
	margin-right: auto;
	margin-left: auto;
	width: 400px;
	background-color: white;
	padding: 40px;

}

input[type="email"], input[type="password"], button[type="submit"]  {
	width: 100%;
	height: auto;
	padding: 15px;
	border: 2px solid lightgrey;
	border-radius: 4px;
	display: block;
	margin: 20px auto;
}

.submit-button {
	background-color: #51e056;
}

/*{
	width: 354px;
	height: 51px;
	padding: 15px;
	border: 2px solid lightgrey;
	border-radius: 4px;
	display: block;
	font-size: 20px;
	background-color: #51e056;
	color: #fff;
	margin-bottom: 25px;
	cursor: pointer;
}
*/

.form-field input::-webkit-input-placeholder {
	font-size: 20px;
}

.form-field label {
	margin-bottom: 8px;

}

.form-field legend {
	text-align: center;
	font-weight: 300;
	font-size: 35px;
	margin: 0 auto 45px;
	line-height: 38px;
}

.logo {
	text-align: center;
	margin-top: 25px;
	margin-bottom: 25px;
}
img {
	height: 35px;
}

.pass-link {
	text-align: center;
	font-size: 13px;
	color: lightgrey;
}

.existing-account {
	text-align: center;
	color: white;
}

.existing-account a:link {
	color: white;
}

.form-box a:link {
	color: lightgrey;
}

button:hover {
	background-color: #55a558;
}


























